html,body {
 background: aquamarine;
}
.round-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.box {
    position: absolute;
    left: 100px;
    margin: auto;
    height: 2000px;
    width: 100px;
    background: #003D70;
}
.instant-answer{
    position: fixed;
    right: 600px;
    bottom: 400px;
}